body {
  font-size: 16px;
  margin: 0 auto;
  font-family: Helvetica;
  font-weight: lighter;
  background: #C4C4C4;
}

.calculator {
  margin: 0 auto;
  width: 29rem;
  height: 28.5rem;
  background-color: #2E2E2E;
  margin-top: 4rem;
  border-radius: 8px;
  box-shadow: 10px 10px 30px rgba(32, 32, 32, 0.7);
  padding-top: 2rem;
}

.input-window {
  margin: 0 auto;
  background-color: white;
  width: 88%;
  height: 5rem;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

p {
  margin: 0;
  text-align: right;
  padding-right: 1rem;
  font-size: 4rem;
  padding-top: 0.2rem;
  color: #2B2B2B;
}

.keys {
  width: 76%;
}

.input-keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.operators span {
  display: block;
}

.numbers {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-left: 1.35rem;
  color: white;
}

.numbers span {
  padding: 1rem 2.5rem;
  margin: 0.5rem;
}

.bottom-row {
  height: auto;
  width: 100%;
  display: flex;
  flex-direciton: row;
  margin: 0 auto;
  margin-left: 1.35rem;
}

#decimal {
  padding: 1.03rem 2.69rem;
  margin: 0.5rem;
  margin-right: 0.4rem;
}

.zero {
  padding: 1rem 5.8rem;
  margin: 0.5rem;
}

span {
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(to bottom right, #464646, #343434);
  border: 0.5px solid rgba(80, 80, 80, 0.2);
  box-shadow: 4px 4px 0 rgba(37, 37, 37, 0.9);
  color: white;
}

span:hover {
  background: #FA4B4B;
}

.operators span{
  padding: 1rem 2.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.operators {
  margin: 0 auto;
  margin-right: 1.35rem;
  display: fixed;
  margin-top: -4.2rem;
}

.clear {
  display: flex;
}

.clear span {
  padding: 1rem 4.9rem;
  background: #FA4B4B;
  margin: 0.5rem;
  margin-left: 1.8rem;
  color: white;
}

#ce {
  padding: 1rem 2.05rem;
  margin-left: 0.5rem;
  background: linear-gradient(to bottom right, #464646, #343434);
}

#ce:hover {
  background: #FA4B4B;
}

#clear:hover {
  background: #7C7C7C;
}

.footer p {
  font-size: 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

.footer span {
  box-shadow: none;
  border: none;
  background: none;
  color: #FA4B4B;
  font-weight: bold;
}

@media only screen and (max-width: 750px) {
  .calculator {
    width: 20rem;
    padding-top: 1rem;
    height: 22.5rem;
  }

  .numbers {
  margin-left: 0.5rem;
}

.numbers span {
  padding: 0.5rem 1.8rem;
  margin: 0.3rem;
 }

  .bottom-row {
  margin-left: 0.5rem;
}

#decimal {
  padding: 0.6rem 1.95rem;
  margin: 0.3rem;
}

.zero {
  padding: 0.8rem 4.2rem;
  margin: 0.3rem;
 }

  .operators span{
  padding: 0.5rem 1.7rem;
  margin: 0.3rem;
  margin-bottom: 0.6rem;
}

.operators {
  margin-right: 0.5rem;
  margin-top: -3.8rem;
}

  .clear span {
  padding: 0.9rem 3.2rem;
  margin: 0.3rem;
  margin-left: 0.95rem;
}

#ce {
  padding: 1rem 1.3rem;
  margin-left: 0.4rem;
}

  #divide {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #equals {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  p {
    padding-right: 0.3rem;
    font-size: 2.8rem;
    padding-top: 1.2rem;
  }
}
